{% extends 'base.html' %}

{% block title %}Admin | Add New Books{% endblock title %}

{% block content %}

<div class="container mt-4 mb-2">
    <div class="row">
        <div class="col-0 col-sm-4">
        </div>
        <div class="col-12 col-sm-4">
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-times-circle"></i> <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="card p-2">
                <div class="text-center mb-3">
                    <div class="card-header">
                        <h2>Add new Books</h2>
                    </div>
                </div>
        <form action="{% url 'adaddnewbooks' %}" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="mb-2" id="book_name">
                    <p class="mb-2"><h5>Book Name : </h5></p>
                    {{ newbook.book_name }}
                </div>
                <div class="mb-2" id="book_id">
                    <p class="mb-2"><h5>Book ID : </h5></p>
                    {{ newbook.book_id }}
                </div>
                <div class="mt-4 mb-3" id="author">
                    <p class="mb-2"><h5>Author of the Book : </h5></p>
                    {{ newbook.author }}
                </div>
                <div class="mt-4 mb-3" id="quantity">
                    <p class="mb-2"><h5>Quantity : </h5></p>
                    {{ newbook.quantity }}
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Add Book" class="btn btn-block btn-success form-control">
            </div>
        </form>
        </div>
        </div>
        <div class="col-0 col-sm-4">
        </div>
    </div>
</div>

{% endblock content %}